//Rojo
$red-1: #ffe6ec;
$red-2: #ffc4d2;
$red-3: #ff95af;
$red-4: #ff6389;
$red-5: #ff3466;
$red-6: #ff0844;
$red-7: #d9073a;
$red-8: #b50630;
$red-9: #910527;
$red-10: #73041f;

//White
$white-1: #ffffff;
$white-2: #fefefe;
$white-3: #fdfdfd;
$white-4: #fcfcfc;
$white-5: #fbfbfb;
$white-6: #fafafa;
$white-7: #d5d5d5;
$white-8: #b2b2b2;
$white-9: #8f8f8f;
$white-10: #707070;

//Grey
$grey-1: #ececec;
$grey-2: #d2d2d2;
$grey-3: #afafaf;
$grey-4: #898989;
$grey-5: #666666;
$grey-6: #444444;
$grey-7: #3a3a3a;
$grey-8: #303030;
$grey-9: #272727;
$grey-10: #1f1f1f;

//Blue
$blue-1: #eaeffc;
$blue-2: #cdd8f9;
$blue-3: #a5b8f4;
$blue-4: #7b98ef;
$blue-5: #5479ea;
$blue-6: #2e5be5;
$blue-7: #274dc3;
$blue-8: #2141a3;
$blue-9: #1a3483;
$blue-10: #152967;

//Yellow
$yellow-1: #fdf9f4;
$yellow-2: #fbf1e3;
$yellow-3: #f7e6ce;
$yellow-4: #f4dbb7;
$yellow-5: #f0d0a1;
$yellow-6: #edc68c;
$yellow-7: #c9a877;
$yellow-8: #a88d63;
$yellow-9: #877150;
$yellow-10: #6b593f;

//Cyan
$cyan-1: #e8f9fe;
$cyan-2: #c7f1fc;
$cyan-3: #9ae6fa;
$cyan-4: #6bdaf8;
$cyan-5: #3ecff6;
$cyan-6: #14c4f4;
$cyan-7: #11a7cf;
$cyan-8: #0e8bad;
$cyan-9: #0b708b;
$cyan-10: #09586e;


