@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
    font-family: "Open Sans";
    margin: 0;
}

html {
    font-size: 16px;
}

//encabezados
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato';
    font-weight: bold;
}

h1 {
    font-size: 4.25rem;
    line-height: 76px;
}

h2 {
    font-size: 3.5rem;
    line-height: 64px;
}

h3 {
    font-size: 4.25rem;
    line-height: 54px;
}

h4 {
    font-size: 2.875rem;
    line-height: 46px;
}

h5 {
    font-size: 1.875rem;
    line-height: 38px;
}

h6 {
    font-size: 1.5rem;
    line-height: 32px;
}

.italic {
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.font {
    &_lead {
        font-size: 1.375rem;
        line-height: 30px;
        font-weight: bold;
    }

    &_subtitule {
        font-size: 1.25rem;
        line-height: 28px;
    }

    &_body {
        font-size: 1rem;
        line-height: 24px;
        &_large{
            font-size: 1.125rem;
            line-height: 26px;
        }
        &_small{
            font-size: 0.875rem;
            line-height: 22px;
        }
    }
    &_overline{
        font-size: 0.75rem;
        line-height: 20px;
        font-weight: 500;
    }
}

.label{
    font-size: 0.875rem;
    line-height: 22px;
}

.tag{
    font-size: 0.75rem;
    line-height: 20px;
}